{% extends 'base.html' %}


{% block title %}About | TechieChandan{% endblock title %}


{% block body %}
<div class="row justify-content-center">
    <div class="container card m-4 px-5 col-10">
        <div class="row justify-content-center">
            <div class="col-2 mb-3">
                <img class="img-fluid" src="images/logo.png" alt="">
            </div>
        </div>
        <div class="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore magni dicta asperiores repellendus in ullam, soluta ratione, suscipit hic nostrum. Nam nisi non voluptatem, voluptate possimus rem deleniti illo.Lorem Ipsum dolor sit amet, consectetur adipis.
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore magni dicta asperiores repellendus in ullam, soluta ratione, suscipit hic nostrum. Nam nisi non voluptatem, voluptate possimus rem deleniti illo.Lorem Ipsum dolor sit amet, consectetur adipis.
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore magni dicta asperiores repellendus in ullam, soluta ratione, suscipit hic nostrum. Nam nisi non voluptatem, voluptate possimus rem deleniti illo.Lorem Ipsum dolor sit amet, consectetur adipis.
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore magni dicta asperiores repellendus in ullam, soluta ratione, suscipit hic nostrum. Nam nisi non voluptatem, voluptate possimus rem deleniti illo.Lorem Ipsum dolor sit amet, consectetur adipis.
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore magni dicta asperiores repellendus in ullam, soluta ratione, suscipit hic nostrum. Nam nisi non voluptatem, voluptate possimus rem deleniti illo.Lorem Ipsum dolor sit amet, consectetur adipis.
            </p>
        </div>
    </div>
</div>
{% endblock body %}