{% extends 'head.html' %}

{% block title %}Reset-Password-Confirm | TechieChandan{% endblock title %}


{% block body %}
    <div class="row justify-content-center my-5">
        <div class="col-md-4 card col-10 px-0">
            <div class="container-fluid bg-danger py-2 text-center">
                <h3 style="color:white;">Reset Passowrd</h3>
            </div>
            <div class="container px-5 py-4">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-flex justify-content-center my-3">
                        <button type="submit" class="btn btn-danger">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
